/* table {
    border-collapse: collapse;
}

th, td {
    border: 1px black solid;
} */
/* font-family: 'Open Sans', sans-serif; */
/* defaults */

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: block;
    max-width: 1200px;
    margin: auto;
}

@media screen and (min-width:760px) {
    #services {
        display: grid;
        grid-template-columns: 6;
        grid-template-rows: 3;
        grid-template-areas:
        "heading heading heading heading heading heading"
        "digital digital digital marketing marketing marketing"
        "video video web web print print"
        ;
    }

    .heading {
        grid-area: heading;
    }

    .digital {
        grid-area: digital;
    }

    .marketing {
        grid-area: marketing;
    }

    .video {
        grid-area: video;
    }

    .web {
        grid-area: web;
    }

    .print {
        grid-area: print;
    }
}